# Лабораторная работа 1. Предобработка данных.

## Reading of data and creating variational series

In [1]:
import numpy as np
import pandas as pd

In [7]:
path_to_data = "data.xlsx"
df = pd.read_excel(path_to_data)
df.head()

   reading score  writing score
0             96            100
1             54             49
2             93             91
3             61             57
4             73             70

In [17]:
writing_score = df['writing score'].copy()
writing_score.head()

0    100
1     49
2     91
3     57
4     70
Name: writing score, dtype: int64

In [18]:
reading_score = df['reading score'].copy()
reading_score.head()

0    96
1    54
2    93
3    61
4    73
Name: reading score, dtype: int64

In [30]:
writing_score.sort_values(inplace=True)
writing_score.reset_index(inplace=True, drop=True)
writing_score.head()

0    21
1    28
2    31
3    32
4    35
Name: writing score, dtype: int64

In [31]:
reading_score.sort_values(inplace=True)
reading_score.reset_index(inplace=True, drop=True)
reading_score.head()

0    25
1    31
2    35
3    35
4    37
Name: reading score, dtype: int64

## Сreating table of interval variational series for wriritng_score

In [86]:
writing_min = writing_score.min()
writing_max = writing_score.max()
writing_elements_count = writing_score.count()
writing_range = writing_max - writing_min 
intervals_count = 12
len_interval = writing_range / intervals_count

21

In [82]:
a = [writing_min + i*len_interval for i in range(intervals_count + 1)]
a[0] -= 0.0001 # need to substruct a small number to include first value

In [83]:
a

[20.9999,
 27.583333333333332,
 34.166666666666664,
 40.75,
 47.33333333333333,
 53.916666666666664,
 60.5,
 67.08333333333333,
 73.66666666666666,
 80.25,
 86.83333333333333,
 93.41666666666666,
 100.0]

In [91]:
indicates = writing_score.groupby(pd.cut(writing_score, a)).count()
frequency = indicates / writing_elements_count
frequency

writing score
(21.0, 27.583]      0.005
(27.583, 34.167]    0.015
(34.167, 40.75]     0.035
(40.75, 47.333]     0.060
(47.333, 53.917]    0.095
(53.917, 60.5]      0.095
(60.5, 67.083]      0.185
(67.083, 73.667]    0.165
(73.667, 80.25]     0.145
(80.25, 86.833]     0.090
(86.833, 93.417]    0.065
(93.417, 100.0]     0.045
Name: writing score, dtype: float64

In [96]:
hist = frequency / len_interval
hist

writing score
(21.0, 27.583]      0.000759
(27.583, 34.167]    0.002278
(34.167, 40.75]     0.005316
(40.75, 47.333]     0.009114
(47.333, 53.917]    0.014430
(53.917, 60.5]      0.014430
(60.5, 67.083]      0.028101
(67.083, 73.667]    0.025063
(73.667, 80.25]     0.022025
(80.25, 86.833]     0.013671
(86.833, 93.417]    0.009873
(93.417, 100.0]     0.006835
Name: writing score, dtype: float64

In [106]:
points = [(a[i] + a[i + 1]) / 2 for i in range(intervals_count)]
points

[24.291616666666666,
 30.875,
 37.45833333333333,
 44.041666666666664,
 50.625,
 57.20833333333333,
 63.791666666666664,
 70.375,
 76.95833333333333,
 83.54166666666666,
 90.125,
 96.70833333333333]

In [108]:
F = frequency.cumsum()
F

writing score
(21.0, 27.583]      0.005
(27.583, 34.167]    0.020
(34.167, 40.75]     0.055
(40.75, 47.333]     0.115
(47.333, 53.917]    0.210
(53.917, 60.5]      0.305
(60.5, 67.083]      0.490
(67.083, 73.667]    0.655
(73.667, 80.25]     0.800
(80.25, 86.833]     0.890
(86.833, 93.417]    0.955
(93.417, 100.0]     1.000
Name: writing score, dtype: float64

In [110]:
expect_writing_score = points * frequency
expect_writing_score

writing score
(21.0, 27.583]       0.121458
(27.583, 34.167]     0.463125
(34.167, 40.75]      1.311042
(40.75, 47.333]      2.642500
(47.333, 53.917]     4.809375
(53.917, 60.5]       5.434792
(60.5, 67.083]      11.801458
(67.083, 73.667]    11.611875
(73.667, 80.25]     11.158958
(80.25, 86.833]      7.518750
(86.833, 93.417]     5.858125
(93.417, 100.0]      4.351875
Name: writing score, dtype: float64

In [117]:
expect_square_writing_score = (points * frequency) * points
expect_square_writing_score

writing score
(21.0, 27.583]        2.950413
(27.583, 34.167]     14.298984
(34.167, 40.75]      49.109436
(40.75, 47.333]     116.380104
(47.333, 53.917]    243.474609
(53.917, 60.5]      310.915373
(60.5, 67.083]      752.834696
(67.083, 73.667]    817.185703
(73.667, 80.25]     858.774835
(80.25, 86.833]     628.128906
(86.833, 93.417]    527.963516
(93.417, 100.0]     420.862578
Name: writing score, dtype: float64

## Сreating table of interval variational series for reading_score

In [118]:
reading_min = reading_score.min()
reading_max = reading_score.max()
reading_elements_count = reading_score.count()
reading_range = reading_max - reading_min 
intervals_count = 12
len_interval = reading_range / intervals_count

In [119]:
a = [reading_min + i*len_interval for i in range(intervals_count + 1)]
a[0] -= 0.0001 # need to substruct a small number to include first value

In [120]:
indicates = reading_score.groupby(pd.cut(reading_score, a)).count()
frequency = indicates / reading_elements_count

In [121]:
hist = frequency / len_interval

In [122]:
points = [(a[i] + a[i + 1]) / 2 for i in range(intervals_count)]

In [123]:
F = frequency.cumsum()

In [124]:
expect_writing_score = points * frequency

In [125]:
expect_square_writing_score = (points * frequency) * points

## Visualization for writing score